[submodule "01-cartoon"]
	path = 01-cartoon
	url = https://github.com/cisc3610-mmp/01-cartoon
[submodule "lab-chart"]
	path = lab-chart
	url = https://github.com/cisc3610-mmp/lab-chart
[submodule "lab-animation"]
	path = lab-animation
	url = https://github.com/cisc3610-mmp/lab-animation
[submodule "02-animation"]
	path = 02-animation
	url = git@github.com:cisc3610-mmp/02-animation.git
